.clear-refix:before,
.clear-refix:after {
  content: ' ';
  display: table; }

.clear-refix:after {
  clear: both; }

.list-all {
  margin: 10px;
  padding: 40px;
  width: 890px;
  list-style: none; }
